Source: sonic-h3c-platform-modules
Section: main
Priority: extra
Maintainer: h3c-sonic-team <sonic@h3c.com>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.3

Package: platform-modules-h3c-s6850-48y8c-w1
Architecture: amd64
Description: kernel modules for platform devices such as fan, led, sfp

