[Unit]
Description=H3C Platform Monitoring service
After=sonic-platform-h3c.service
DefaultDependencies=no

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python /usr/local/bin/h3c_hw_mon.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL


# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target

