#sonic-platform-h3c
#

[Unit]
Description=sonic-platfrom-h3c kernel restore service
After=networking.service
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/bin/bash /usr/local/bin/h3ckoinstall

[Install]
WantedBy=multi-user.target

